<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.creationline.cloudstack"
      android:versionCode="1"
      android:versionName="0.3">
    <uses-sdk android:minSdkVersion="10" />

    <application android:icon="@drawable/weather_thunder_clipped" android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name">
        <activity android:name=".CloudStackAndroidClient"
                  android:label="@string/app_name"
                  android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.MultiListUi"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="stateUnchanged" />

        <activity android:name=".ui.CsVmDetailsFragmentActivity"
                  android:label="Instance Details" />

        <activity android:name=".ui.CsSnapshotDetailsFragmentActivity"
                  android:label="Snapshot Details" />
        
        <service android:name=".engine.CsRestService" />
		<receiver android:name=".engine.CheckAsyncJobProgress" />

	    <provider android:name=".engine.CsRestContentProvider" android:authorities="com.creationline.cloudstack.engine.csrestcontentprovider" />
    
    </application>
    
    
     <uses-permission android:name="android.permission.INTERNET" />
</manifest>